doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{product.name} | Radical Records
        link(rel="stylesheet" href="/styles/styles.css")

    body
        // Navigation Bar
        header
            include partials/navbar

        // Product Details Section
        section.product-details
            img(src=`/${product.image_url}`, alt=product.name)
            div.details
                h2 #{product.name}
                p $#{product.price}
                p #{product.description}
                ul
                    li
                        strong Release Year:
                        |  #{product.release_year}
                    li
                        strong Format:
                        |  #{product.format}

        // Add to Cart Form
        form(action="/cart/add" method="POST")
            input(type="hidden" name="productId" value = product.id)
            input(type="number" name="quantity" value="1" min="1")
            button.btn Add to Cart

        // Footer
        footer
            p &copy; 2024 Radical Records. All Rights Reserved.
